div{
	box-sizing: border-box;
}
h2{
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;

}
a{
	text-decoration: none;
	color: #6E7173;
}
a:hover{
	color: #555;
}
body{
	margin: 0;
	padding: 0;
	color: #444;
	font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
}
.body_container{
	padding: 0 60px;
	max-width: 1150px;
	margin: 0 auto;
}
#header{
	padding: 58px 0 0;
	text-align: left;
	border-bottom: 1px solid #ddd;
	position: relative;
}
#header .site-name{
	margin-bottom:40px;
}
#header .site-name #logo{
	font: bold 38px/1.12 "Times New Roman", Georgia, Times, sans-serif;
    color: #555;
}
#header .site-name .description {
	margin: .2em 0 0;
	color: #999;
}
#header #nav-menu{
	margin: 10px 0 -1px;
	padding: 0;
	position: absolute;
	right: 0;
	bottom: 0;
}
#header #nav-menu a{
	display: inline-block;
	padding: 3px 20px 3px;
	line-height: 30px;
	color: #444;
	font-size: 13px;
	border: 1px solid transparent;
}
#header #nav-menu a.current{
	border: 1px solid #ddd;
	border-bottom-color: #fff;
}
#footer{
	padding: 8em 0 3.6em;
	margin-top: 1em;
	color: #999;
	line-height: 1.5;
}
.main_container{
	letter-spacing: normal;
    text-rendering: optimizespeed;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
	align-content: flex-start;
}
.main_container .left{
	font-family: sans-serif;
	width: 75%;
}
.main_container .right{
	font-family: sans-serif;
	width: 25%;
}
.content_container {
	padding-right: 50px;
	padding-top: 20px;
}
.sidebar{
	border-left: 1px solid #ddd;
	padding-left: 35px;
	margin-top: 40px;
	padding-bottom: 20px;
	word-wrap: break-word;
}
.sidebar .widget{
	margin-bottom: 30px;
}
.sidebar .widget .widget-title {
	color: #6e7173;
	line-height: 2.7;
	margin-top: 0;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	display: block;
	font-weight: normal;
}
.sidebar .widget ul{
	list-style: none;
	padding: 0;
	display: block;
}
.sidebar .widget ul li{
	margin: 5px 0;
	line-height: 1.5;
	text-align: -webkit-match-parent;
}
.sidebar .widget .tagcloud {
	margin-top: 10px;
}
.sidebar .widget .tagcloud a{
	line-height: 1.5;
	padding: 5px;
	font-size: 15px;
}
.post{
	padding: 25px 0 15px;
}
.post .post-title{
	margin: 0;
	color: #555;
	text-align: left;
	font: bold 25px/1.1 "ff-tisa-web-pro",Cambria,"Times New Roman",Georgia,Times,sans-serif;
}
.post .post-title a{
	color: #555;
}
.post .post-meta{
	padding: 0;
	margin: 15px 0 0;
	color: #6e7173;
	float: left;
	display: inline;
	text-indent: .15em
}
.post .post-content {
	clear: left;
	font-size: 15px;
	line-height: 1.77;
	color: #444;
	padding-top: 15px;
	text-align: justify;
	word-break: normal;
}
.readmore a{
	font-size: 14px;
    color: #444;
    margin: -10px 0;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: right;
}
